In [3]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: setuptools in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (56.0.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.6.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (3.4.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jeya kumar r\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0

In [4]:
data = [['milk', 'onion', 'apple', 'beans', 'eggs', 'banana'],
        ['dill', 'onion', 'apple', 'beans', 'eggs', 'banana'],
        ['milk', 'mango', 'beans', 'eggs'],
        ['milk', 'tomato', 'corn', 'beans', 'banana'],
        ['corn', 'onion', 'onion', 'beans', 'ice cream', 'eggs']]

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [6]:
re = TransactionEncoder()
re_ary = re.fit(data).transform(data)

In [7]:
re_ary

array([[ True,  True,  True, False, False,  True, False, False,  True,
         True, False],
       [ True,  True,  True, False,  True,  True, False, False, False,
         True, False],
       [False, False,  True, False, False,  True, False,  True,  True,
        False, False],
       [False,  True,  True,  True, False, False, False, False,  True,
        False,  True],
       [False, False,  True,  True, False,  True,  True, False, False,
         True, False]])

In [8]:
df = pd.DataFrame(re_ary)
df

      0      1     2      3      4      5      6      7      8      9      10
0   True   True  True  False  False   True  False  False   True   True  False
1   True   True  True  False   True   True  False  False  False   True  False
2  False  False  True  False  False   True  False   True   True  False  False
3  False   True  True   True  False  False  False  False   True  False   True
4  False  False  True   True  False   True   True  False  False   True  False

In [9]:
df = pd.DataFrame(re_ary, columns = re.columns_)
df

,apple,banana,beans,corn,dill,eggs,ice cream,mango,milk,onion,tomato
0,True,True,True,False,False,True,False,False,True,True,False
1,True,True,True,False,True,True,False,False,False,True,False
2,False,False,True,False,False,True,False,True,True,False,False
3,False,True,True,True,False,False,False,False,True,False,True
4,False,False,True,True,False,True,True,False,False,True,False

In [11]:
from mlxtend.frequent_patterns import apriori
frequent_items = apriori(df, min_support = 0.6, use_colnames = True)

In [12]:
frequent_items

    support              itemsets
0       0.6              (banana)
1       1.0               (beans)
2       0.8                (eggs)
3       0.6                (milk)
4       0.6               (onion)
5       0.6       (banana, beans)
6       0.8         (eggs, beans)
7       0.6         (milk, beans)
8       0.6        (onion, beans)
9       0.6         (onion, eggs)
10      0.6  (onion, eggs, beans)

In [13]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_items, metric = 'confidence', min_threshold = 0.8)

In [14]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(banana),(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
1,(eggs),(beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
2,(beans),(eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
3,(milk),(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,(onion),(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,(onion),(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
6,"(onion, eggs)",(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(onion, beans)",(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,(onion),"(eggs, beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf