In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [2]:
data = [['milk', 'onion', 'apple', 'beans', 'eggs', 'banana'],
        ['dill', 'onion', 'apple', 'beans', 'eggs', 'banana'],
        ['milk', 'mango', 'beans', 'eggs'],
        ['milk', 'tomato', 'corn', 'beans', 'banana'],
        ['corn', 'onion', 'onion', 'beans', 'ice cream', 'eggs']]

In [3]:
from mlxtend.preprocessing import TransactionEncoder
re = TransactionEncoder()
re_ary = re.fit(data).transform(data)

In [4]:
df = pd.DataFrame(re_ary, columns = re.columns_)
df

,apple,banana,beans,corn,dill,eggs,ice cream,mango,milk,onion,tomato
0,True,True,True,False,False,True,False,False,True,True,False
1,True,True,True,False,True,True,False,False,False,True,False
2,False,False,True,False,False,True,False,True,True,False,False
3,False,True,True,True,False,False,False,False,True,False,True
4,False,False,True,True,False,True,True,False,False,True,False

In [5]:
fpgrowth(df, min_support = 0.6)

    support   itemsets
0       1.0        (2)
1       0.8        (5)
2       0.6        (9)
3       0.6        (8)
4       0.6        (1)
5       0.8     (2, 5)
6       0.6     (9, 5)
7       0.6     (9, 2)
8       0.6  (9, 2, 5)
9       0.6     (8, 2)
10      0.6     (1, 2)

In [6]:
frequent_items = fpgrowth(df, min_support = 0.6, use_colnames = True)
frequent_items

    support              itemsets
0       1.0               (beans)
1       0.8                (eggs)
2       0.6               (onion)
3       0.6                (milk)
4       0.6              (banana)
5       0.8         (eggs, beans)
6       0.6         (eggs, onion)
7       0.6        (beans, onion)
8       0.6  (eggs, beans, onion)
9       0.6         (milk, beans)
10      0.6       (banana, beans)

In [7]:
rules = association_rules(frequent_items, metric = 'confidence', min_threshold = 0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(eggs),(beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
1,(beans),(eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
2,(onion),(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(onion),(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,"(eggs, onion)",(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,"(beans, onion)",(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
6,(onion),"(eggs, beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf
7,(milk),(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
8,(banana),(beans),0.6,1.0,0.6,1.0,1.00,0.00,inf

In [9]:
from mlxtend.frequent_patterns import apriori
%timeit apriori(df, min_support = 0.6)

7.35 ms ± 518 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
%timeit fpgrowth(df, min_support = 0.6)

2.49 ms ± 86.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)